<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/code-theme.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="meet" viewBox="24.33055725097656 13.9 61.90833587646484 42.7" fill="none">
              <path d="M28,50 Q22,30 30,20 Q38,10 50,20 Q58,28 44,32 Q60,34 48,48 Q36,62 28,50 Z" fill="#4F8EF7" stroke="#222" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="40" cy="20" r="4" fill="#fff"/>
              <circle cx="41.5" cy="21.5" r="1.5" fill="#222"/>
              <path d="M60,50 Q54,30 62,20 Q70,10 82,20 Q90,28 76,32 Q92,34 80,48 Q68,62 60,50 Z" fill="#A259F7" stroke="#222" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="72" cy="20" r="4" fill="#fff"/>
              <circle cx="73.5" cy="21.5" r="1.5" fill="#222"/>
            </svg>
          </a>
        </h1>
        <nav>
          <a href="/">Home</a>
          <a href="/writing">Writing</a>
          <a href="/about">About</a>
        </nav>
      </div>
    </header>
    <div class="container-sm">
      {{ if tags.includes('post') }}
      <div class="post-meta">
        <h2>{{ title }}</h2>
        <div>
          <time>{{ date |> date('PPP') }}</time>
          {{ for tag of tags |> filter(t => t !== 'post') }}
          <span>#{{ tag }}</span>
          {{ /for }}
        </div>
      </div>
      {{ /if }}
      {{ content }}
    </div>
    <div class="container container-sm">
      <footer>
        <p>
          <svg viewBox="0 0 512 512"><path fill="currentColor" d="M247 32v87h18V32zm-40.4 105l14.5 29-68 17h205.8l-68-17 14.5-29zm-73 64l-7 14h258.8l-7-14zm-55.88 32l21 14H413.3l21-14H77.72zm63.58 32l8.8 22h211.8l8.8-22zM124 305v18h50.3l36.6 171h18.4l-36.6-171H240v171h32V323h47.3l-36.6 171h18.4l36.6-171H388v-18H124z"/></svg>
          Seattle, WA
        </p>
        <p>
          &copy; 2025 Brendan Barr
        </p>
      </footer>
    </div>
  </body>
</html>
