@import "tailwindcss/base";
@import "tailwindcss/components";

.para {
  @apply .font-light .text-xl .mb-2;
}

.skill {
  @apply .mt-2;
}

.rank {
  @apply .text-right .border-dotted .border-b-2 .border-black; 
  width: 24%;
  transition: width 2s ease-in-out;
  margin-top: -25px;
  height: 30px;
}

@import "tailwindcss/utilities";
