@import "tailwindcss/base";
@import "tailwindcss/components";

html, body {
  font-family: Gothic A1,-apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.callout {
  @apply absolute bottom-0 p-4 border rounded-lg border-gray-200 w-full mb-5 bg-gray-800 text-white;
}

.brand-text {
  @apply text-pink-500;
}

.skill {
  @apply .my-4;
}

.skill h3 {
  @apply .italic .text-xl;
}

.link {
  @apply .text-blue-500 underline;
}

ul.works li {
  @apply .mb-2;
}

.product {
  @apply border-b border-gray-200 pb-8 pt-6;
}

.product:last-child {
  @apply border-0;
}

.product a {
  @apply mb-2 text-2xl;
}

a {
  @apply font-bold border-b border-dotted border-gray-500 inline-block;
}

a:hover {
  @apply border-solid border-black;
}

a[disabled]:hover {
  @apply border-dotted border-gray-500 cursor-not-allowed;
}

.product h2:hover {
  @apply border-solid;
}

@media (max-width: 767px) {
  .leftbar {
  }

  .rightbar {
  }
}

@media (min-width: 768px) {

  .leftbar {
    max-width: 100%;
  }

  .rightbar {
  }
}

@media (min-width: 1024px) {

  .leftbar {
    max-width: 408px;
  }

  .rightbar {
    @apply pl-48;
    margin-left: 408px;
  }
}

.logos {
  @apply flex flex-wrap justify-between pt-4 px-5;
}

.logos img {
  @apply mb-2 object-contain;
  width: 21%;
}

@import "tailwindcss/utilities";
